.idea/

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
installdeps/
pip-wheel-metadata/

venv/
env/
ENV/
venv.bak/
venv3/

.vscode/

.DS_Store

Thumbs.db
Desktop.ini


*.log
*.tmp